In [1]:
# Dependencies
from matplotlib import pyplot as plt
from scipy.stats import pearsonr, linregress
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# import csv
yield_df = pd.read_csv('Resources/yield_combined.csv')
yield_df.head()

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [3]:
yield_df.columns

Index(['Unnamed: 0', 'Area', 'Item', 'Year', 'hg/ha_yield',
       'average_rain_fall_mm_per_year', 'pesticides_tonnes', 'avg_temp'],
      dtype='object')

In [4]:
columns_list = yield_df.columns.tolist()
columns_list

['Unnamed: 0',
 'Area',
 'Item',
 'Year',
 'hg/ha_yield',
 'average_rain_fall_mm_per_year',
 'pesticides_tonnes',
 'avg_temp']

In [5]:
def plot_correlation(df, x_label, y_label, agg_func='mean'):
    
    # Group the DataFrame by 'Year' and apply the aggregation function
    if agg_func == 'mean':
        grouped_df = df.groupby('Year', 'Area')[[x_label, y_label]].mean().dropna()
    elif agg_func == 'sum':
        grouped_df = df.groupby('Year', 'Area')[[x_label, y_label]].sum().dropna()
    else:
        raise ValueError("agg_func must be either 'mean' or 'sum'")

    # Get x and y data (grouped by Year)
    x = grouped_df[x_label]
    y = grouped_df[y_label]

    # Check if x and y have enough data points
    if len(x) < 2 or len(y) < 2:
        print("Not enough data points to perform correlation analysis.")
        return

    # Perform linear regression
    slope, intercept, r, p, std_err = linregress(x, y)
    line = slope * x + intercept

    # Create the scatter plot
    plt.scatter(x, y)
    plt.plot(x, line, "--", color='red')  # Use red dashed line for the regression line
    plt.xlabel(x_label)
    plt.ylabel(y_label)
    plt.title(f"{x_label} vs {y_label} (Grouped by Year)")
    plt.show()

    # Print the Pearson correlation coefficient
    correlation_coefficient = round(pearsonr(x, y)[0], 2)
    print(f"The correlation coefficient between {x_label} and {y_label} is {correlation_coefficient}")

In [6]:
# crop_vars = ['Average_Temperature_C', 'Total_Precipitation_mm', 'Crop_Yield_MT_per_HA', 'Extreme_Weather_Events',
#              'Irrigation_Access_%', 'Pesticide_Use_KG_per_HA', 'Fertilizer_Use_KG_per_HA','Soil_Health_Index'
#             ]

# # Loop through each crop type and call the function
# for var in crop_vars:
#     plot_correlation_five(cc_impact_on_ag_df, 'CO2_Emissions_MT', var, agg_func='sum')

In [7]:
vars = ['Item', 'hg/ha_yield', 'average_rain_fall_mm_per_year', 'pesticides_tonnes', 'avg_temp']

# Loop through each crop type and call the function
for var in vars:
    plot_correlation(yield_df, var, 'hg/ha_yield', agg_func='sum')

ValueError: No axis named Area for object type DataFrame