# Mongoimport statements:

mongoimport --type csv -d project3 -c agriculture --headerline --drop agriculture.csv

mongoimport --type csv -d project3 -c emissions --headerline --drop emissions.csv

mongoimport --type csv -d project3 -c gdp --headerline --drop gdp.csv

mongoimport --type csv -d project3 -c pesticides --headerline --drop pesticides.csv

mongoimport --type csv -d project3 -c population --headerline --drop population.csv

# Import Library Statements

In [12]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [13]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [14]:
# confirm that our new database was created
pprint(mongo.list_database_names())

['admin',
 'autosaurus',
 'classDB',
 'config',
 'epa',
 'fruits_db',
 'local',
 'met',
 'petsitly_marketing',
 'project3',
 'uk_food']

In [15]:
db = mongo['project3']

In [16]:
print(db.list_collection_names())

['emissions', 'gdp', 'population', 'agriculture', 'pesticides']

In [17]:
emissions = db['emissions']
gdp = db['gdp']
population = db['population']
agriculture = db['agriculture']
pesticides = db['pesticides']

In [18]:
#Grabbing each collection into a giant DataFrame
emi_docu = emissions.find()
emi_list = list(emi_docu)
emi_df = pd.DataFrame(emi_list)

gdp_docu = gdp.find()
gdp_list = list(emi_docu)
gdp_df = pd.DataFrame(gdp_list)

pop_docu =population.find()
pop_list = list(pop_docu)
pop_df = pd.DataFrame(pop_list)

agr_docu = agriculture.find()
agr_list = list(agr_docu)
agr_df = pd.DataFrame(agr_list)

pest_docu = pesticides.find()
pest_list = list(pest_docu)
pest_df = pd.DataFrame(pest_list)

In [20]:
emi_df

                           _id Code   Country  Year  CO2_Emissions
0     66e8e9fef7ae5334e5327a29  ALB   Albania  1990    5980.000000
1     66e8e9fef7ae5334e5327a2a  ALB   Albania  1991    4060.000000
2     66e8e9fef7ae5334e5327a2b  ALB   Albania  1992    2220.000000
3     66e8e9fef7ae5334e5327a2c  ALB   Albania  1993    2060.000000
4     66e8e9fef7ae5334e5327a2d  ALB   Albania  1994    2070.000000
...                        ...  ...       ...   ...            ...
4345  66e8e9fff7ae5334e5328b22  ZWE  Zimbabwe  2015   12430.000305
4346  66e8e9fff7ae5334e5328b23  ZWE  Zimbabwe  2016   11020.000458
4347  66e8e9fff7ae5334e5328b24  ZWE  Zimbabwe  2017   10340.000153
4348  66e8e9fff7ae5334e5328b25  ZWE  Zimbabwe  2018   12380.000114
4349  66e8e9fff7ae5334e5328b26  ZWE  Zimbabwe  2019   11760.000229

[4350 rows x 5 columns]